<div id="dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3><%- title %></h3>
  </div>
  <div class="modal-body">
    <%= unescapedMsg %><%- msg %>
  </div>
  <div class="modal-footer">
    <a href="#" id="dialog-cancel" data-dismiss="modal" class="btn pull-left" role="button"><%- cancelText %></a>
    <a href="#" id="dialog-ok" class="btn btn-primary" role="button"><%- okText %></a>
  </div>
</div>