Event Time,Severity,Host Name,Local Host IP,Local Port,Local Host MAC,Remote Host IP,Remote Host Name,Remote Port,Remote Host MAC,Network Protocol,Traffic Direction,Begin Time,End Time,Occurrences,Application Name,Rule Name,Location,User Name,Domain Name,Action
2015-08-05 12:56:12,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:55:46,End: 2015-08-05 12:55:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:57:07,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:56:46,End: 2015-08-05 12:56:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:58:09,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:57:46,End: 2015-08-05 12:57:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:59:10,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:58:46,End: 2015-08-05 12:58:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:31:08,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:30:46,End: 2015-08-05 12:30:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:32:09,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:31:46,End: 2015-08-05 12:31:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:33:10,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:32:46,End: 2015-08-05 12:32:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:28:10,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:27:46,End: 2015-08-05 12:27:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:29:11,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:28:46,End: 2015-08-05 12:28:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 12:30:07,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Inbound,Begin: 2015-08-05 12:29:46,End: 2015-08-05 12:29:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:00:45,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 138,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 138,Remote: ##Remote_MAC##,UDP,Outbound,Begin: 2015-08-05 13:00:22,End: 2015-08-05 13:00:22,Occurrences: 1,Application: C:/Windows/system32/xxxxxx.EXE,Rule: Block remote SMB,Location: Default,User: ##User_Name##,Domain: IC,Action: Blocked
2015-08-05 13:12:43,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 138,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 138,Remote: ##Remote_MAC##,UDP,Outbound,Begin: 2015-08-05 13:12:21,End: 2015-08-05 13:12:21,Occurrences: 1,Application: C:/Windows/system32/xxxxxx.EXE,Rule: Block remote SMB,Location: Default,User: ##User_Name##,Domain: IC,Action: Blocked
2015-08-05 13:24:47,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 138,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 138,Remote: ##Remote_MAC##,UDP,Outbound,Begin: 2015-08-05 13:24:23,End: 2015-08-05 13:24:23,Occurrences: 1,Application: C:/Windows/system32/xxxxxx.EXE,Rule: Block remote SMB,Location: Default,User: ##User_Name##,Domain: IC,Action: Blocked
2015-08-05 14:00:48,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 138,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 138,Remote: ##Remote_MAC##,UDP,Outbound,Begin: 2015-08-05 14:00:22,End: 2015-08-05 14:00:22,Occurrences: 1,Application: C:/Windows/system32/xxxxxx.EXE,Rule: Block remote SMB,Location: Default,User: ##User_Name##,Domain: IC,Action: Blocked
2015-08-05 13:36:45,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 138,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 138,Remote: ##Remote_MAC##,UDP,Outbound,Begin: 2015-08-05 13:36:24,End: 2015-08-05 13:36:24,Occurrences: 1,Application: C:/Windows/system32/xxxxxx.EXE,Rule: Block remote SMB,Location: Default,User: ##User_Name##,Domain: IC,Action: Blocked
2015-08-05 13:44:11,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:43:50,End: 2015-08-05 13:43:50,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:45:12,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:44:47,End: 2015-08-05 13:44:47,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:46:13,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:45:50,End: 2015-08-05 13:45:50,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:47:15,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:46:54,End: 2015-08-05 13:46:54,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:48:16,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:47:52,End: 2015-08-05 13:47:52,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:49:12,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:48:47,End: 2015-08-05 13:48:47,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:50:13,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:49:47,End: 2015-08-05 13:49:47,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:51:14,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:50:51,End: 2015-08-05 13:50:51,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:52:15,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:51:53,End: 2015-08-05 13:51:53,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:53:11,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:52:47,End: 2015-08-05 13:52:47,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:54:07,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:53:46,End: 2015-08-05 13:53:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 13:55:08,Major,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 13:54:46,End: 2015-08-05 13:54:46,Occurrences: 1,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: IC,Action: Allowed
2015-08-05 16:58:24,Critical,##HOST_NAME##,Local: ##Local_IP##,Local: 0,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,8,Outbound,Begin: 2015-08-05 16:58:13,End: 2015-08-05 16:58:13,Occurrences: 3,Application: ,Rule: Allow IGMP traffic,Location: Default,User: ##User_Name##,Domain: ,Action: Allowed
2015-11-05 15:00:02,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 80,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 59995,Remote: ##Remote_MAC##,TCP,Inbound,Begin: 2015-11-05 14:59:40,End: 2015-11-05 14:59:50,Occurrences: 7,Application: ,Rule: Block all other IP traffic and log,Location: XXXX VPN,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 15:00:02,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 80,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 59996,Remote: ##Remote_MAC##,TCP,Inbound,Begin: 2015-11-05 14:59:40,End: 2015-11-05 14:59:50,Occurrences: 7,Application: ,Rule: Block all other IP traffic and log,Location: XXXX VPN,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:59,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 2054,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 57829,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:59:45,End: 2015-11-05 14:59:45,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: XXXX VPN,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:59,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 68,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 67,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:59:47,End: 2015-11-05 14:59:47,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: XXXX VPN,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:59,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 2054,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 57418,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:59:45,End: 2015-11-05 14:59:45,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: XXXX VPN,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:26,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 67,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 68,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:58:17,End: 2015-11-05 14:58:17,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:26,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 67,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 68,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:58:20,End: 2015-11-05 14:58:20,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:26,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 67,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 68,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:58:20,End: 2015-11-05 14:58:20,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:26,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 67,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 68,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:58:21,End: 2015-11-05 14:58:21,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-11-05 14:59:26,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 68,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 67,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:58:21,End: 2015-11-05 14:58:21,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-08-10 10:03:32,Minor,##HOST_NAME##,Local: ##Local_IP##,Local: 8,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,ICMP,Outbound,Begin: 2015-08-10 10:03:32,End: 2015-08-10 10:03:32,Occurrences: 1,Application: C:/Windows/System32/yyyyy.exe,"Rule: Allow ping, pong and tracert",Location: Default,User: user2,Domain: yyyDomain,Action: Allowed
2015-11-05 14:59:25,Info,##HOST_NAME##,Local: ##Local_IP##,Local: 5353,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ,Remote: 54429,Remote: ##Remote_MAC##,UDP,Inbound,Begin: 2015-11-05 14:59:13,End: 2015-11-05 14:59:13,Occurrences: 1,Application: ,Rule: Block all other IP traffic and log,Location: Public Network,User: user1,Domain: XXXXDOMAIN,Action: Blocked
2015-08-10 10:03:32,Minor,##HOST_NAME##,Local: ##Local_IP##,Local: 8,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,ICMP,Outbound,Begin: 2015-08-10 10:03:32,End: 2015-08-10 10:03:32,Occurrences: 1,Application: C:/Windows/System32/yyyyy.exe,"Rule: Allow ping, pong and tracert",Location: Default,User: user2,Domain: yyyDomain,Action: Allowed
2015-08-10 10:03:32,Minor,##HOST_NAME##,Local: ##Local_IP##,Local: 8,Local: ##Local_MAC##,Remote: ##Remote_IP##,Remote: ##Remote_Host_Name##,Remote: 0,Remote: ##Remote_MAC##,ICMP,Outbound,Begin: 2015-08-10 10:03:32,End: 2015-08-10 10:03:32,Occurrences: 1,Application: C:/Windows/System32/yyyyy.exe,"Rule: Allow ping, pong and tracert",Location: Default,User: user2,Domain: yyyDomain,Action: Allowed