Time Stamp,Severity,Site Name,Server Name,Event Description
2015-05-13 09:00:54,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error
2015-05-13 09:00:54,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error.
2015-05-13 08:59:54,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error.
2015-04-17 15:52:04,Error,Site: Site sepxxxxx,Server: sepxxxxx,The administrator's user name or password is incorrect. Type a valid user name or password.
2015-04-17 15:52:12,Error,Site: Site sepxxxxx,Server: sepxxxxx,The administrator's user name or password is incorrect. Type a valid user name or password.
2015-04-17 16:04:49,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error.
2015-05-13 09:00:54,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error.
2015-05-13 08:59:54,Error,Site: Site sepxxxxx,Server: sepxxxxx,Unexpected server error.
2015-04-17 15:52:04,Error,Site: Site sepxxxxx,Server: sepxxxxx,The administrator's user name or password is incorrect. Type a valid user name or password.