<div>
    <div class="alert-add-menu">
        <div class="btn-group add-button dropdown-secondary">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="response-action-dropdown-toggle">
                <i class="icon-plus"></i> <%- _('Add New Response Action').t() %>
                <span class="caret" aria-hidden="true"></span>
            </a>
            <div class="dropdown-menu" id="add-dropdown-menu">
                <div class="btn-group dropdown-controls well alert-action-inputs">
                    <div>
                        <div class="categories-control"></div>
                        <div class="search-control pull-right"></div>
                    </div>
                    <div>
                        <div class="recommended-control"></div>
                    </div>
                </div>
                <div class="arrow" aria-hidden="true"></div>
                <ul class="alert-dropdown-list"></ul>
            </div>
        </div>
    </div>
    <div class="alert-actions"></div>
</div>