span.requiredAsterisk {
    color: #AF4444;
    margin-left: 2px;
}

#problemModal .message-icon{
    float: left;
    margin-right: 10px;
    font-size: 15px;
}

.permission_denied{
	margin-top: 32px;
	margin-bottom: 32px;
}

#show-guided-search-editor{
	display: block;
	margin-top: 8px;
}

textarea[name='search']{
    width: 95%;
    max-width: none;
}

#protocols-dropdown, #duration-dropdown{
	width: 200px;
	display: inline-block
}

#duration-dropdown{
	padding-right: 12px;
}