#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_threat > .dashboard-cell > .dashboard-panel, #tab_network > .dashboard-cell > .dashboard-panel, #tab_endpoint > .dashboard-cell > .dashboard-panel, #tab_ssl > .dashboard-cell > .dashboard-panel, #tab_email > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}

/* Begin styling for the togglers */
#threat_artifact_holder, #http_holder{
    width: 230px;
    display: inline-block;
}
/* End styling for the togglers */

/* Begin styling for the expanded content */
#dashboard .results-table tr.expanded-content-row td, #dashboard .results-table tr.expanded-row td{
    background-color: #f5f5f5 !important;
}
/* End styling for the expanded content */

/* Hides the export to PDf button since it doesn't work with custom JS (SOLNESS-8468) */
.btn.generate-pdf{
    display: none;
}

/* Restores the curved edges to the print button which is just to the right of the generate PDF button */
.btn.print-dashboard{
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
}